{% extends 'BjoerneMyAlbumsBundle::layout.html.twig' %}

{% block body -%}
    <h1>Album edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('album') }}" class="btn">
            <i class="icon-list"></i>
            Back to the list
        </a>
    </li>
    <li>{{ form_start(delete_form) }}
        <button type="submit" class="btn">
            <i class="icon-remove"></i>
            Delete
        </button>
    {{ form_end(delete_form) }}</li>
</ul>
{% endblock %}
